# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
myven/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific (Optional: output results)
# dataset/ok.txt
# dataset/fail.txt

# OS-specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
Desktop.ini

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo
